/* FONTS-TEXTING */
body{
	font-family: 'Montserrat', sans-serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6{
	display: block;
	margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h1 { 
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;    
}
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
h5 { 
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}
h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
ul{
	margin: 0;
	padding-left: 15px;}
/* / */

/* HEADER */
.ead-header{
	padding: 10px 15px;
	background-color: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;
	transition: .3s;
}
.site-content{
	padding-top: 87px;
}
.black-header{
	background: #eee;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.22);
}
.ead-menu ul a {
	color: #000;
}
.ead-menu ul{
	list-style: none;
}
.ead-menu ul li{
	display: inline-block;
	float: left;
	padding: 0 10px;
	border-right: 1px solid;
}
.ead-menu ul li:last-child{
	border-right: 0
}
/* / */

/* SEARCH MENU */
.search-top input{
	width: 100%;
	background: #E0E0E0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border: 0;
	text-indent: 15px;
}
/* / */

/* HOME */
ul.banner-home li.slide{
	border-radius: 0px 226.5px;
	padding: 40px;
}
ul.banner-home li.slide:nth-child(2){
	background: #FFAA1C;
}
ul.banner-home li.slide:nth-child(3){
	background: #F36993;
}
ul.banner-home li.slide:nth-child(4){
	background: #40A3C1;
}

.bg-azul{
	background: #40A3C1;
	color: #fff;
}
.box-w-round-t{
	background: #fff;
	padding: 40px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}
.box-w-round-b{
	background: #fff;
	padding: 40px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
.box-combo{
	background: rgba(2, 1, 6, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	border-radius: 130px 0px 107px;
	color: #6FCF97;
	padding: 40px;
	width: 396px;
	margin: 0 auto;
}
.text-hide{display: none;}
.show-hide-text{display: block;}
.show-hide-text p{
	font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #333;
    font-family: 'Ubuntu', sans-serif;
}
ul.funcs{
	list-style: none;
}
ul.funcs li{
	display: inline-flex;
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
}
/* / */

/* FAQ */
.faq h2{
	font-size: 36px;
	color: #40A3C1;
}
.bg-plano{
	background-image: url(../imagens/plano-ead.png);
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
}
/* / */

/* FOOTER */
.title-blog-vg{
	text-align: center;
	font-size: 36px;
	background-color: #C4C4C4;
	color: #fff;
	padding: 15px 0;
}
.n-footer {
	background-color:#40A3C1;
	color:#fff;
	padding: 0 0 50px 0;
}

.block-links {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	margin-bottom: 20px;
	margin-top: 40px;
	padding: 20px 0;
}
.block-links h3{margin-top: 0}

.n-footer .links ul {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left
}

.n-footer .links ul li {
	margin-bottom:0;
	line-height:1.5
}

.n-footer a {
	color:#fff;
}

.n-footer p {
	line-height:1.5;
	margin-bottom:0
}

.social-footer ul {
	list-style:none;
	margin:0;
	padding:0
}

.social-footer li {
	display:inline
}

.icons-social i {
	background-color:rgba(255,255,255,.3);
	border-radius:50px;
	height:32px;
	width:32px;
	cursor:pointer;
	text-align:center
}

.icons-social i::before {
	font-size:20px;
	line-height:1.5;
	color:#005F73
}

.icons-social i:hover {
	background-color:#fff
}
.logo-footer{
	position: relative;
    top: -55px;
}
/* /FOOTER */

/* BUTTONS */
.btn{
	display: inline-block;
	border-radius: 30px;
	transition: .3s;
	padding: 5px 30px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}
.btn-amarelo{
	background: #FFAA1C;
	color: #fff;
	font-size: 14px;
}
.btn-branco{
	background: #fff;
	font-size: 14px;
}
.btn-azul{
	background: #2F80ED;
	font-size: 14px;
}
.btn-azul-h{
	background: #2F80ED;
	font-size: 14px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 10px 20px;
	font-weight: bold;
}
a.btn-amarelo, a.btn-azul-h, a.btn-azul{color: #fff;}
a.btn-branco{color: #2F80ED;}
a.btn-amarelo:hover, a.btn-branco:hover{text-decoration: none;}
/* / */

/* UTILS */
.float-right{float: right;}
.float-left{float: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.no-m{margin: 0}
.p-relative{position: relative;}
.p-l-15{padding-left: 15px;}
.p-t-25{padding-top: 25px;}
.p-b-25{padding-bottom: 25px;}
.p-t-50{padding-top: 50px;}
.p-b-50{padding-bottom: 50px;}
.p-t-100{padding-top: 100px;}
.p-b-100{padding-bottom: 100px;}
.m-t-50{margin-top: 50px;}
.uppercase{text-transform: uppercase;}
.d-inline-flex{
	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.d-flex{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.v-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
/* / */

/* SLICK THEME */
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/* / */